@model dynamic
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    @foreach (User author in Model.Users)
    {
        <h1 class="text-info">@author.FirstName @author.LastName</h1>
        @foreach (Post post in Model.Posts)
        {
            if (post.UserId == author.Id)
            {
                <h2 class="font-italic">"@post.Content"</h2>
            }
        }
    }
</div>